{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./app/tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    // "react/prop-types": "off",
    "max-len": ["error", { "code": 200 }]
  }
}